* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 0.88) url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

h1 {
  color: PaleGoldenrod;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  font-size: 40px;
}
